<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zk.tool.zkapp_wechat">

    <application>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
    </application>
</manifest>
